# Virtual Environment
venv/
.venv/
ENV/

# Python Caches
__pycache__/
*.pyc
.pytest_cache/

# Local Data and Models (Keep the structure, drop the heavy files)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
# Allow tracking of model binaries and metadata metrics

# IDE Settings
.idea/
.vscode/
.DS_Store